/*




*/ 
 /*ZURB - Foundation css grid builder standard 960/940 grid,
 	Obtained at 
	url - http://zurb.com/playground/css-grid-builder
 */
    /* --------------------------------------------------
    Container
    -------------------------------------------------- */
    div#container, div.container { position: relative; width: 940px; margin: 0 auto; padding: 30px 0px; }
     
     
    /* --------------------------------------------------
    Grid
    -------------------------------------------------- */
    .column-row, .row { margin: 0 0 18px -20px; }
    .column, .columns { float: left; display: inline; margin: 0 0 0 20px;  position: relative;}
     
    .one { width: 60px; }
    .two { width: 140px; }
    .three { width: 220px; }
    .four { width: 300px; }
    .five { width: 380px; }
    .six { width: 460px; }
    .seven { width: 540px; }
    .eight { width: 620px; }
    .nine { width: 700px; }
    .ten { width: 780px; }
    .eleven { width: 860px; }
    .twelve { width: 940px; }
     
    .offset-one-half { margin-left: 40px; }
    .offset-one { margin-left: 80px; }
    .offset-two { margin-left: 160px; }
    .offset-three { margin-left: 240px; }
    .offset-four { margin-left: 320px; }
    .offset-five { margin-left: 400px; }
    .offset-six { margin-left: 480px; }
    .offset-seven { margin-left: 560px; }
    .offset-eight { margin-left: 640px; }
    .offset-nine { margin-left: 720px; }
    .offset-ten { margin-left: 800px; }
     
    /* Clear the columns automagically, thanks @kneath */
    .column-row:after, .row:after, .clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
    * html .column-row, * html .row, * html .clearfix { height: 1%; }
    .column-row, .row, .clearfix { display: inline-block; }
    .column-row, .row, .clearfix { display: block; }
     
    /* IE6 Problems ---------- */
    body.ie .column-row { width: 960px; }
    body.ie .eight .column-row { width: 640px; }
    body.ie .nine .column-row { width: 720px; }
    body.ie .ten .column-row { width: 800px; }
    body.ie .eleven .column-row { width: 880px; }
    body.ie .two-thirds .column-row { width: 640px; }

 body,html{
    width:100%;
    height:100%;
    background-color: #ffffff;
 }

 #title{
  margin: 0px 0px 0px 0px;
  display: inline;
  padding: 50px 0px;
  font-size: 3em;
  color:#ffffff;
 }

.wrapper{
  width: 100%;
  height: 100%;
  background-color: #0099ff;
  text-align: center;
}
 #mouse{
  width: 90%;
  min-height: 500px;
  background-image:url(../images/mouse.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

 }

 .text_bubble{
  width:600px;
  min-height: 330px;
  margin-left: -130px;
  background-image:url(../images/bubble.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
 }
 #answers{
  position: relative;
 }
